<br/>

<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :display_name %>
    <br/>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br/><br/>

    <%= f.label :banner %>
    <%= f.file_field :banner %>
    <br/><br/>
    <%= f.input :bio %>
    <%= f.label :twitter %>
     <div class="input-group">
      <div class="input-group-addon">@</div>
        <input class="string optional" id="profile_twitter" name="profile[twitter]" type="text" value="">
        <%#= f.input :twitter %>
      </div>
    </div>
    <br/>
    <%= f.input :location %>
    <br/>
    <%= f.input :website %>
    <br/>
    <%= f.input :dob %>
    <br/>
    <%= f.input :notifications %>
    <%= f.input :inbox %>
    <%= f.input :donations %>
  </div>
  <hr/>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
