<br/>

<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :display_name %>
    <br/>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br/><br/>

    <%= f.label :banner %>
    <%= f.file_field :banner %>
    <br/><br/>
    <%= f.input :bio %>
    <%= f.input :twitter %>
    <%= f.input :location %>
    <%= f.input :dob %>
  </div>
  <hr/>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
