<% if @profile.notifications %>
<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Leave a message below...</h3>
      </div>
        <div class="panel-body">
          <%= form_tag("/message", method: "post", remote: true ) do |f| %>
            <%= hidden_field_tag :subject, "Subject" %>
            <%= text_area_tag :body, nil, rows: 3, cols: 75, :style => "border:1px lightgrey solid;" %>

            <br/>
            <%= hidden_field_tag(:user_id, @profile.user.id) %>
            
            <br/>
            <%= submit_tag("Post", :class => "pull-right btn btn-primary", :id => "post") %>
            <br/>
        <% end %>
      </div>
</div>
<ul>
  <% @receipts.each do |r| %>
    <li class="well" >
    
    <%= r.first.message.body %><hr/>
    <%= link_to image_tag(r.first.message.sender.profile.image.url(:thumb),
     :class => "img-circle"), vanity_url_path(r.first.message.sender.profile.slug) %>
    <%= link_to r.first.message.sender.name, vanity_url_path(r.first.message.sender.profile.slug) %>
    </li>
  <% end %>
</ul>
<% end %>