

<h1>
  <%= @profile.display_name || @profile.user.name %>
</h1>

<hr/>

<div class="row">

<div class="col-md-4">


<%= image_tag @profile.image.url(:square) %>
<br/>

<p>
  <%= @profile.location %>
</p>

<p>
  <%= link_to @profile.website, url_with_protocol(@profile.website), :target => "blank"  %>
</p>
</div>


<div class="col-md-8">
  <p class="well">
    <%= @profile.bio %>
  </p>
  <ul>
  <% @profile.user.pieces.each do |piece| %>
       <li class="clearfix">
            <%= link_to image_tag(piece.image.url(:small), :class =>'pull-left thumbnail'), piece %>
            <span class="col-md-8" >
            <h3><%= link_to piece.title, piece %>
            <small>by <%= link_to piece.user.name, profile_path(piece.user.profile) %></small>
            </h3>
            <label class="label label-default pull-left"><%= piece.views.to_i %> views</label>
            </span>
          </li>
          <hr/>
  <% end %>
  </ul>

</div>




</div>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
