<header>
<br/>
<% provide(:title, @title) %>
</header>
<div class="row">
  <aside class="col-md-4">
    <section>
    <br/>
      <%= link_to image_tag(@user.profile.image.url(:small), :class => "img-circle"), vanity_url_path(@user.profile.slug) %>
      <h2><%= link_to @user.profile.display_name || @user.name, vanity_url_path(@user.profile.slug) %></h2>
    </section>
    <section>
      <%#= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <hr/>
    <% if @users.any? %>
      <ul class="users">
        <% @users.each do |user| %>
          <li class="clearfix">
            <%= link_to image_tag(user.profile.image.url(:thumb), :class => "img-circle "), vanity_url_path( user.profile) %>
            <%= link_to user.profile.display_name, vanity_url_path(user.profile) %>
            <% if current_user %>
              <% unless current_user == user %>
                <div id="follow_form" class="pull-right">
                <% if current_user.following?(user) %>
                                  <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
                             html: { method: :delete }) do |f| %>
                  <%= f.submit "Unfollow", class: "btn" %>
                <% end %>
                <% else %>
                  <%= form_for(current_user.active_relationships.
                                          build(followed_id: user.id)) do |f| %>
                  <div><%= hidden_field_tag :followed_id, user.id %></div>
                  <%= f.submit "Follow", class: "btn btn-primary" %>
                <% end %>
                <% end %>
                </div>
              <% end %>
              <% end %>
            <hr/>
            </li>
          <% end %>
      </ul>
    <% end %>
  </div>
</div>