<%= simple_form_for(@piece) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br/><br/>
    <%= f.input :description %>
    <%= f.input :dimensions %>
    <%= f.input :views, as: :hidden %>
    <%= f.input :user_id, as: :hidden %>
    <%= f.input :price, as: :hidden %>
    <%= f.input :sold, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
