<iframe style="border:none;" src="<%= embed_url(:id => @piece.id, :user_slug => @piece.user.profile.slug) %>" width="600px" height="600px"/></iframe>
          <br/>
          <a href="<%= user_piece_url(:id => @piece.slug, :user_slug => @piece.user.profile.slug ) %>" target="_blank"><%= @piece.title %></a> by <a href="<%= vanity_url_url(@piece.user.profile.slug) %>" target="_blank"><%= @piece.user.profile.display_name %></a> on <a href="http://www.artup.io" target="_blank">artup.io</a>