<%= content_for :header do %>
  <div  class=" text-center">
		<h1 class="black">
			  <div class="arrow-up-large pull-center "><h3><i class="glyphicon glyphicon-eye-open white"></i></h3></div> artup.io
		</h1>
		
</div>
<% end %>

  <nav class="navbar navbar-static-top navbar-default " role="navigation">
    <div class="navbar-grey">
    <ul class="nav navbar-nav">
     <li class="active"><a href="#new" data-toggle="tab"><i class="glyphicon glyphicon-upload"></i> New Pieces</a></li>
	  <li class=""><a href="#popular" data-toggle="tab"> <i class="glyphicon glyphicon-eye-open "></i> Popular Pieces</a></li>
    <% if @for_sale.length > 0 %> 
	  <li><a href="#shop" data-toggle="tab"> <i class="glyphicon glyphicon-shopping-cart "></i> Shop </a></li>
    <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tags "></i> Top Tags <b class="caret"></b></a>
        <ul class="dropdown-menu">
        	<% @tags.limit(10).each do |tag| %>
          <li> <%= link_to raw("<i class='glyphicon glyphicon-tag'></i>  #{tag} (#{tag.taggings_count})"), tagged_pieces_path(:tag => tag.name) %></li>
          <% end %>
        </ul>
      </li>
      <li><a href="#collections" data-toggle="tab"> <i class="glyphicon glyphicon-th-large "></i> Popular Collections</a></li>
    </ul>  
    </div>
  </nav>

<div class="row">
	<div class="col-md-12">

		<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade active in" id="new">
		  <div  class="transitions-enabled centered infinite-scroll clearfix">
			<% @new_pieces.each_with_index do |piece, index| %>
						<%= render 'shared/piece', :piece => piece %>
			<% end %>

			</div>
				<%= paginate @pieces, :html => {:class => "pagination"} %>
				
		  </div>
	  <div class="tab-pane fade active in" id="popular">
	  	<div id="masonry-container" class="transitions-enabled centered 	infinite-scroll clearfix">
			<% @pieces.each_with_index do |piece, index| %>
				<%= render 'shared/piece', :piece => piece %>
               <span class="badge" style="position:relative; right:255px; margin: 0px 5px 10px -35px; padding:3px; float:left; background-color:#<%= index %>f<%= index %>f<%= index %>f"><%=  (index + 1).ordinalize %></span>
			<% end %>

			</div>
	  </div>
    <div class="tab-pane fade" id="collections">
      <div id="masonry-container" class="transitions-enabled centered   infinite-scroll clearfix">
      <% @collections.each do |collection| %>

        <div class="col-md-4" >
                       <h3><%= link_to truncate(collection.title.titleize,:length => 20), user_collection_path(:id => collection.id, :slug => collection.user.profile.slug) %></h3>
                       <% if collection.pieces.count > 0 %>
                       <%= link_to image_tag(collection.pieces.first.image.url(:mini)), user_collection_path(:id => collection.id, :slug => collection.user.profile.slug) %>
                       <% else %>
                        <%= link_to image_tag("http://res.cloudinary.com/artapp/image/upload/v1413470304/gntloo1fznwu9yylo1nu.png"), user_collection_path(:id => collection.id, :slug => collection.user.profile.slug) %>
                       <% end %>
            </div>
        
      <% end %>

      </div>
    </div>
	  <div class="tab-pane fade" id="shop">
	  	<div id="masonry-container" class="transitions-enabled centered 	infinite-scroll clearfix">
			<% @for_sale.each do |piece| %>
				<div class="box col3">
        <div class="text-center">
        <%= link_to image_tag(piece.image.url(:mini), :class =>'pull-left thumbnail'), user_piece_path(:id => piece.slug, :user_slug => piece.user.profile.slug) %>
        <h4 class=""><%= link_to truncate(piece.title, :length => 20), user_piece_path(:id => piece.slug, :user_slug => piece.user.profile.slug) %><br/>
        <small>by <%= link_to truncate(piece.user.profile.display_name,  :length => 20) || piece.user.name, vanity_url_path(piece.user.profile) %></small>
        </h4>
        <!-- <button class="btn btn-sm btn-default">
        <small><span class="caret caret-reversed"></span> Up</small>
        </button> -->

        <button class="btn white btn-primary"><%= link_to "Buy $#{ piece.price}", "#{piece_path(piece)}#buy", :class => " white" %></button>
        <br/><br/>
        </div>
</div>
			<% end %>

			</div>
	  </div>

	</div>
		
</div>


</div>

<style type="text/css">
  
  .affix {
    top: 60px;
width: 110%;
margin-left: -15%;
margin-right:15%;
  }

  
  .navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-blue {
  text-align:center;
}


</style>
