<header>
<br/>
<div class="pull-right">
  <% unless current_user == nil %>
  <% if  UserFav.where(:user_id => current_user.id, :piece_id => @piece.id).exists? %>
          <%= link_to raw("<i class='glyphicon glyphicon-heart-empty'></i>  Un-Favourite"), delete_user_favs_path(:user_fav => {:piece_id => @piece.id, :user_id => current_user.id}), :remote => true, class: "btn btn-sm fav btn-info pull-right", :method => :delete %>
      <% else %>
        <%= link_to raw("<i class='glyphicon glyphicon-heart'></i>  Favourite"), user_favs_path(:user_fav => {:piece_id => @piece.id,:user_id => current_user.id}), :remote => true, class: "btn btn-sm fav btn-info pull-right", :method => :post %>
  <% end %>
   <% end %>
<br/><br/>
<p class="pull-right">
<% if  @piece.votes_for.by_type(User).voters.include?(current_user) %>

        <% if @piece.votes_for.down.by_type(User).voters.include?(current_user) %>
          <%= link_to raw("<i class='glyphicon glyphicon-thumbs-up'></i>  Dope"), dope_path(:id => @piece.id), :remote => true, class: "btn fav btn-sm btn-success", :method => :post %>
            
        <% else %>
          <%= link_to raw("<i class='glyphicon glyphicon-thumbs-down'></i>  Nope"), nope_path(:id => @piece.id), :remote => true, class: "btn btn-sm fav btn-danger", :method => :post %>
        <% end %>

  <% else %>
    <%= link_to raw("<i class='glyphicon glyphicon-thumbs-up'></i>  Dope"), dope_path(:id => @piece.id), :remote => true, class: "btn fav btn-sm btn-success", :method => :post %>

        <%= link_to raw("<i class='glyphicon glyphicon-thumbs-down'></i>  Nope"), nope_path(:id => @piece.id), :remote => true, class: "btn btn-sm fav btn-danger", :method => :post %>        
  <% end %>
  </p>
</div>
<h2>
  <%= @piece.title %><br/>
  <small class="pull-left">by <%= link_to @piece.user.profile.display_name || @piece.user.name, vanity_url_path(@piece.user.profile) %></small>
  <span class="pull-left">
  <%#= render 'follow_form', :html => {class:  "pull-right"} %>
  </span>
</h2  >
  <br/>
  <hr/>
</header>


<div class="row clearfix">
  <div class="text-center">
  <%= image_tag @piece.image.url(), :class => "img-responsive text-center"%>
  </div>
  <hr/>
  <div class="col-md-8 ">
     <p class="well">
      <%= @piece.description %>
    </p>
    <p>
      <strong>Dimensions:</strong>
      <%= @piece.dimensions %>
    </p>
  </div>
  <div class="col-md-4">


    <% if  @piece.get_likes.count > 0 %>
     <label class="label label-success"><i class='glyphicon glyphicon-thumbs-up'></i> <%= @piece.get_likes.size %> Dope</label>
    <% end %>

    <% if  @piece.get_dislikes.count > 0 %>
    <label class="label label-danger"><i class='glyphicon glyphicon-thumbs-down'></i> <%= @piece.get_dislikes.size %> Nope</label>
    <% end %>
    <label class="label label-primary">
      <i class="glyphicon glyphicon-eye-open white"></i>
      <%= @piece.views.to_i %> Views
    </label> 
    <br/>

    <label class="label label-info">
      <i class="glyphicon glyphicon-heart"></i>
      <%= @piece.favourited_by.count %> Favourites
    </label> 
    <br/>
    <% @piece.tag_list.each do |tag| %>
      <label class="label label-default">
        <i class="glyphicon glyphicon-tag white"></i>
      <%= link_to tag, tagged_pieces_path(:tag => tag) %>
    </label> &nbsp;
    <% end %>  
    <br/><br/>
    <% unless @piece.favourited_by == [] %>
      <div class="panel panel-info">
        <div class="panel-heading "><h5 class="white"><i class='glyphicon glyphicon-heart'></i> Favourited By</h5></div>
        <div class="panel-body">
          <% @piece.favourited_by.limit(10).each do |user| %>
            <%= link_to(image_tag(user.profile.image.url(:thumb), :class => "img-circle"), vanity_url_path( :id => user.profile.slug)) %>
          <% end %>
        </div>
    <% end %>
    </div>
    </div>

    <br/><br/>
    <% if current_user && current_user.admin? %>
      <%= link_to 'Edit', edit_piece_path(@piece), :class => "pull-right" %>
    <% end %>
         
  </div>

</div>



<hr/>

<br/>
<br/>
