<h1>
  <%= @piece.title %>
  <small>by <%= link_to @piece.user.name, vanity_url_path(@piece.user.profile) %></small>
</h1>
<hr/>


<div class="row clearfix">
  <div class="col-md-4">
    <p class="well">
      <%= @piece.description %>
    </p>
    <p>
      <strong>Dimensions:</strong>
      <%= @piece.dimensions %>
    </p>
    <label class="label label-primary">
      <i class="glyphicon glyphicon-eye-open white"></i>
      <%= @piece.views.to_i %> views
    </label> 
    <br/>
    <% @piece.tag_list.each do |tag| %>
      <label class="label label-default">
        <i class="glyphicon glyphicon-tag white"></i>
      <%= link_to tag, tagged_pieces_path(:tag => tag) %>
    </label> &nbsp;
    <% end %>  
    <br/><br/>
    <% if current_user && current_user.admin? %>
      <%= link_to 'Edit', edit_piece_path(@piece) %>
    <% end %>
         
  </div>
  <div class="col-md-8 ">
    <%= image_tag @piece.image.url(:piece), :class => "img-responsive"%>
  </div>
</div>



<hr/>

<br/>
<br/>
