<h1>
  <%= @piece.title %>
  <small>by <%= link_to @piece.user.name, profile_path(@piece.user.profile) %></small>
</h1>
<hr/>


<div class="row clearfix">
  <div class="col-md-3">
    <p class="well">
      <%= @piece.description %>
    </p>
    <p>
      <strong>Dimensions:</strong>
      <%= @piece.dimensions %>
    </p>
    <label class="label">
      <%= @piece.views.to_i %> views
    </label>        
  </div>
  <div class="col-md-9 ">
    <%= image_tag @piece.image.url(:piece) %>
  </div>
</div>



<hr/>



<%= link_to 'Edit', edit_piece_path(@piece) %>

<br/>
<br/>
